@charset "UTF-8";

.menu-page {
	width: 100%;
	margin: 0px auto;
  	position: relative;
	font-size: 30px;
	/* text-align: center; */
	padding: 20px;
	-webkit-box-shadow: 0px 15px 15px 0px rgba(64,92,96,0.5);
	-moz-box-shadow: 0px 15px 15px 0px rgba(64,92,96,0.5);
	box-shadow: 0px 15px 15px 0px rgba(64,92,96,0.5);
	margin-bottom: 30px;
	color: #066a75;
	border-bottom: 1px solid #405c60;
}

.box-dashboard {
	margin: 12px 15px;
	padding: 20px;
	display: flex;
}

.box-margin-left {
	margin-left: 50px
}

.link-perfil {
	font-size: 14px;
	color: #066a75;
}