@charset "UTF-8";
header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

main {
	margin-top: -30px;
}

.box-dashboard {
	border: 1px solid #f6f9ff;
	box-shadow: 0 0 7px white;
	background: #f6f9ff;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
}

.shadow-row {
	background: white;
	padding: 1rem;
	box-shadow: 1px 1px 4px #f1f1f1;
}

.shadow-row .col {
	margin-top: 1rem;
}

.content-exchanges {
	margin: 1rem;
}