@charset "UTF-8";

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width: 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

main {
	margin-top: -30px;
}

.navbar-investimentos {
    background-color: #e3f2fd;
    height: 80px;
    display: flex;
    align-items: center;
    font-weight: 900;
}

.navbar-investimentos  a {
	font-size: 25px;
}

.content-exchanges {
	margin: 1rem;
}

.tabs {
	height: auto;
}

li .active {
	border-bottom: 2px solid #006c7c;
}

.indicator {
	display: none;
}

.label-investimento {
	color: #007e92;
	font-weight: bold;
	font-style: italic;
}

.box-details {
    width: 90%;
    margin: auto;
    padding: 5px;
    background-color: #ecf3ff;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #01879c63;
}
}